{% extends 'base.html' %}

{% block content %}
<section>
  <div class="container">
    <div class="grid-wrapper">
      <div class="box1">
        <a href="{% url 'sightings' %}"><h4>Go to Bird Sighting Dashboard</h4></a>
      </div>
      <div class="box2"><h4>Rare Birds</h4></div>
      <div class="box3"><h4>Common Birds</h4></div>
      <div class="box4"><h4>Raptors</h4></div>
      <div class="box5"><h4>Covids</h4></div>
      <div class="box6"><h4>Waterfowl</h4></div>
      <div class="box7"><h4>By State</h4></div>
      <div class="box8"><h4>By Region</h4></div>
      <div class="box9"><h4>Endangered</h4></div>
    </div>
  </div>
</section>


{% endblock %}